*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background-image:url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    padding: 50px 60px 70px;
    text-align: center;
    }
    
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3f059d;
    position: relative;
    
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c0496;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #ededed;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    max-width: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

button{
   
    justify-content: space-between;
    font-size: medium;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}


.button1{
    
    background: #4d02c6;
    text-decoration: none;
    color: #ffffff;
}

.button1:hover{
    background-color: #c2a7ee;
    color: black;
}

.input-group{
    height: 280px;
}

.button2{
   
    background: #eaeaea;
    text-decoration: none;
    color: #000000;
}

.button2:hover {
    background: #757279;
    color: #ffffff;
}


a{
    text-decoration: none;  
}













